@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Cinzel", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--image-gradient), url(./Assets/home-2.png);
 
}

